.imageUser
{
    position: fixed;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    top: 10px;
    right: 20px;
}

.imageUserFollowed
{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.cellImageUserFollowed
{
    padding-left: 9px; /* For center, because the image is 32x32 and the column size is 50px */
    padding-top: 4px;
}
.listMyPost
{
    color: black;
    font-weight: bold;
}

.blockListIFollowThem
{
    position: fixed;
    border: solid 2px rgb(119, 180, 230);
    box-shadow: 10px 10px 10px lightblue;
    height: 250px;
    width: 250px;
    top: 200px;
    right: 50px;
    overflow-y: scroll;
    /* Hide scrollbar for : */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.blockListIFollowThem::-webkit-scrollbar {
    display: none;
}

.titleListIFollowThem
{
    background-color: rgb(119, 180, 230);
    text-align: center;
    position: fixed;
    width: inherit;
    height: 25px;
    line-height: 25px; /* Basic solution to center verticaly */
}

.columnImageUserFollowed
{
    width: 50px;
    overflow: hidden;
    height: 25px; /* Else, the first row is hidden */
}

.columnNameUserFollowed
{
    width: 200px;
    overflow: hidden;
    text-align: center;
    height: 25px; /* Else, the first row is hidden */
}

.nameAccount
{
    text-align: center;
    display: inline-block; /* Else this two lines, the line before */
    width: -moz-available; /* is useless  and the text will be not centered */
    height: 40px;
    line-height: 40px;
}

/* css from https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css maybe useless at the moment
.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.label.is-small {
    font-size: 0.75rem;
}

.label.is-medium {
    font-size: 1.25rem;
}

.label.is-large {
    font-size: 1.5rem;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}
  
.field.has-addons {
    display: flex;
    justify-content: flex-start;
}
  
.field.has-addons .control:not(:last-child) {
    margin-right: -1px;
}
  
.field.has-addons .control:not(:first-child):not(:last-child) .button,
.field.has-addons .control:not(:first-child):not(:last-child) .input,
.field.has-addons .control:not(:first-child):not(:last-child) .select select {
    border-radius: 0;
}
  
.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input,
.field.has-addons .control:first-child:not(:only-child) .select select {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
  
.field.has-addons .control:last-child:not(:only-child) .button,
.field.has-addons .control:last-child:not(:only-child) .input,
.field.has-addons .control:last-child:not(:only-child) .select select {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
  
.field.has-addons .control .button:not([disabled]):hover, .field.has-addons .control .button:not([disabled]).is-hovered,
.field.has-addons .control .input:not([disabled]):hover,
.field.has-addons .control .input:not([disabled]).is-hovered,
.field.has-addons .control .select select:not([disabled]):hover,
.field.has-addons .control .select select:not([disabled]).is-hovered {
    z-index: 2;
}
  
.field.has-addons .control .button:not([disabled]):focus, .field.has-addons .control .button:not([disabled]).is-focused, .field.has-addons .control .button:not([disabled]):active, .field.has-addons .control .button:not([disabled]).is-active,
.field.has-addons .control .input:not([disabled]):focus,
.field.has-addons .control .input:not([disabled]).is-focused,
.field.has-addons .control .input:not([disabled]):active,
.field.has-addons .control .input:not([disabled]).is-active,
.field.has-addons .control .select select:not([disabled]):focus,
.field.has-addons .control .select select:not([disabled]).is-focused,
.field.has-addons .control .select select:not([disabled]):active,
.field.has-addons .control .select select:not([disabled]).is-active {
    z-index: 3;
}
  
.field.has-addons .control .button:not([disabled]):focus:hover, .field.has-addons .control .button:not([disabled]).is-focused:hover, .field.has-addons .control .button:not([disabled]):active:hover, .field.has-addons .control .button:not([disabled]).is-active:hover,
.field.has-addons .control .input:not([disabled]):focus:hover,
.field.has-addons .control .input:not([disabled]).is-focused:hover,
.field.has-addons .control .input:not([disabled]):active:hover,
.field.has-addons .control .input:not([disabled]).is-active:hover,
.field.has-addons .control .select select:not([disabled]):focus:hover,
.field.has-addons .control .select select:not([disabled]).is-focused:hover,
.field.has-addons .control .select select:not([disabled]):active:hover,
.field.has-addons .control .select select:not([disabled]).is-active:hover {
    z-index: 4;
}
  
.field.has-addons .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}
  
.field.has-addons.has-addons-centered {
    justify-content: center;
}
  
.field.has-addons.has-addons-right {
    justify-content: flex-end;
}
  
.field.has-addons.has-addons-fullwidth .control {
    flex-grow: 1;
    flex-shrink: 0;
}
  
.field.is-grouped {
    display: flex;
    justify-content: flex-start;
}
  
.field.is-grouped > .control {
    flex-shrink: 0;
}
  
.field.is-grouped > .control:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.75rem;
}
  
.field.is-grouped > .control.is-expanded {
    flex-grow: 1;
    flex-shrink: 1;
}
  
.field.is-grouped.is-grouped-centered {
    justify-content: center;
}
  
.field.is-grouped.is-grouped-right {
    justify-content: flex-end;
}
  
.field.is-grouped.is-grouped-multiline {
    flex-wrap: wrap;
}
  
.field.is-grouped.is-grouped-multiline > .control:last-child, .field.is-grouped.is-grouped-multiline > .control:not(:last-child) {
    margin-bottom: 0.75rem;
}
  
.field.is-grouped.is-grouped-multiline:last-child {
    margin-bottom: -0.75rem;
}
  
.field.is-grouped.is-grouped-multiline:not(:last-child) {
    margin-bottom: 0;
}
  
@media screen and (min-width: 769px), print {
    .field.is-horizontal {
        display: flex;
    }
}
  
.field-label .label {
    font-size: inherit;
}
  
@media screen and (max-width: 768px) {
    .field-label {
        margin-bottom: 0.5rem;
    }
}
  
@media screen and (min-width: 769px), print {
    .field-label {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        margin-right: 1.5rem;
        text-align: right;
    }
    .field-label.is-small {
        font-size: 0.75rem;
        padding-top: 0.375em;
    }
    .field-label.is-normal {
        padding-top: 0.375em;
    }
    .field-label.is-medium {
        font-size: 1.25rem;
        padding-top: 0.375em;
    }
    .field-label.is-large {
        font-size: 1.5rem;
        padding-top: 0.375em;
    }
}
  
.field-body .field .field {
    margin-bottom: 0;
}
  
@media screen and (min-width: 769px), print {
    .field-body {
        display: flex;
        flex-basis: 0;
        flex-grow: 5;
        flex-shrink: 1;
    }
    .field-body .field {
        margin-bottom: 0;
    }
    .field-body > .field {
        flex-shrink: 1;
    }
    .field-body > .field:not(.is-narrow) {
        flex-grow: 1;
    }
    .field-body > .field:not(:last-child) {
        margin-right: 0.75rem;
    }
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.control.has-icons-left .input:focus ~ .icon,
.control.has-icons-left .select:focus ~ .icon, .control.has-icons-right .input:focus ~ .icon,
.control.has-icons-right .select:focus ~ .icon {
    color: #4a4a4a;
}
  
.control.has-icons-left .input.is-small ~ .icon,
.control.has-icons-left .select.is-small ~ .icon, .control.has-icons-right .input.is-small ~ .icon,
.control.has-icons-right .select.is-small ~ .icon {
    font-size: 0.75rem;
}
  
.control.has-icons-left .input.is-medium ~ .icon,
.control.has-icons-left .select.is-medium ~ .icon, .control.has-icons-right .input.is-medium ~ .icon,
.control.has-icons-right .select.is-medium ~ .icon {
    font-size: 1.25rem;
}
  
.control.has-icons-left .input.is-large ~ .icon,
.control.has-icons-left .select.is-large ~ .icon, .control.has-icons-right .input.is-large ~ .icon,
.control.has-icons-right .select.is-large ~ .icon {
    font-size: 1.5rem;
}
  
.control.has-icons-left .icon, .control.has-icons-right .icon {
    color: #dbdbdb;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
}
  
.control.has-icons-left .input,
.control.has-icons-left .select select {
    padding-left: 2.5em;
}
  
.control.has-icons-left .icon.is-left {
    left: 0;
}
  
.control.has-icons-right .input,
.control.has-icons-right .select select {
    padding-right: 2.5em;
}
  
.control.has-icons-right .icon.is-right {
    right: 0;
}
  
.control.is-loading::after {
    position: absolute !important;
    right: 0.625em;
    top: 0.625em;
    z-index: 4;
}
  
.control.is-loading.is-small:after {
    font-size: 0.75rem;
}
  
.control.is-loading.is-medium:after {
    font-size: 1.25rem;
}
  
.control.is-loading.is-large:after {
    font-size: 1.5rem;
}

.textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: calc(0.75em - 1px);
    resize: vertical;
}
  
.textarea:not([rows]) {
    max-height: 40em;
    min-height: 8em;
}
  
.textarea[rows] {
    height: initial;
}
  
.textarea.has-fixed-size {
    resize: none;
}

*/